modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"

[deployment]
deploymentTarget = "cloudrun"
build = ["npm", "run", "build"]
run = ["npm", "run", "start"]

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 32855
externalPort = 6000

[[ports]]
localPort = 34801
externalPort = 8000

[[ports]]
localPort = 36701
externalPort = 6800

[[ports]]
localPort = 37999
externalPort = 5173

[[ports]]
localPort = 38431
externalPort = 3001

[[ports]]
localPort = 39449
externalPort = 4200

[[ports]]
localPort = 39829
externalPort = 3000

[[ports]]
localPort = 41855
externalPort = 8081

[[ports]]
localPort = 42463
externalPort = 8008

[[ports]]
localPort = 43113
externalPort = 5000

[[ports]]
localPort = 43371
externalPort = 3003

[[ports]]
localPort = 43675
externalPort = 8099

[[ports]]
localPort = 45067
externalPort = 3002

[[ports]]
localPort = 46183
externalPort = 8080

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[agent]
integrations = ["javascript_openai_ai_integrations:1.0.0"]
